---
import Link from "@/components/ui/Link.astro"
import { getI18N } from "@/i18n"
import Layout from "@/layouts/Layout.astro"
import { getRelativeLocaleUrl } from "@/lib/utils"
import { Image } from "astro:assets"

const { currentLocale = "es" } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout nofollow noindex title={i18n.ERROR_404.TITLE}>
  <section class="flex flex-col items-center md:flex-row md:gap-12">
    <Image
      src="/images/logo.png"
      alt={i18n.HERO.IMAGE_ALT}
      width={800}
      height={800}
      class="max-w-64"
    />
    <div class="flex w-full flex-col items-center gap-4 text-center">
      <hgroup>
        <h1 class="typography-5xl font-extrabold uppercase">{i18n.ERROR_404.CODE}</h1>
        <h2 class="typography-3xl font-semibold uppercase">{i18n.ERROR_404.TITLE}</h2>
      </hgroup>
      <p class="typography-lg max-w-md">
        {i18n.ERROR_404.TEXT}
      </p>
      <Link
        href={getRelativeLocaleUrl(currentLocale, "/")}
        class:list={[
          "typography-lg bg-tertiary px-10 py-4 font-medium text-secondary",
          "transition-colors duration-200 motion-reduce:transition-none",
          "any-hover:bg-primary",
        ]}
        style={{ "clip-path": "polygon(3% 0%, 0% 100%, 100% 97%, 90% 0);" }}
      >
        {i18n.ERROR_404.LINK}
      </Link>
    </div>
  </section>
</Layout>
