---
import Link from "@/components/ui/Link.astro"
import CaretDown from "@/icons/phosphor/caret-down.svg"

const { pathname } = Astro.url
const path = pathname.split("/").slice(2).join("/")
const { currentLocale = "es" } = Astro

const { class: className } = Astro.props

const locales = [
  { code: "es", name: "Español", clipPath: "polygon(3% 0%, 0% 100%, 100% 97%, 90% 0);" },
  { code: "gl", name: "Galego", clipPath: "polygon(0% 0%, 10% 97%, 99% 100%, 100% 0%);" },
  { code: "en", name: "English", clipPath: "polygon(7% 0%, 5% 95%, 99% 100%, 94% 0%);" },
]
---

<nav class:list={["font-medium tracking-wide text-secondary", className]}>
  <ul class="hidden lg:flex">
    {
      locales.map((locale) => (
        <Link href={`/${locale.code}/${path}`}>
          <li
            class:list={[
              "flex h-16 items-center justify-center px-10",
              "transition-opacity duration-200 motion-reduce:transition-none",
              {
                "bg-tertiary": currentLocale === locale.code,
                "bg-primary opacity-90 any-hover:opacity-100": currentLocale !== locale.code,
              },
            ]}
            style={{ "clip-path": locale.clipPath }}
          >
            {locale.name}
          </li>
        </Link>
      ))
    }
  </ul>
  <div class="relative inline-block lg:hidden">
    <div class:list={["group", "transition-opacity duration-200 motion-reduce:transition-none"]}>
      <button type="button">
        <div
          class="inline-flex h-16 min-w-[175px] items-center justify-center gap-2 bg-tertiary px-10"
          style="clip-path: polygon(3% 0%, 0% 100%, 100% 100%, 90% 0);"
        >
          {locales.find((locale) => locale.code === currentLocale)?.name}
          <CaretDown
            class:list={[
              "size-4 shrink-0",
              "transition-transform duration-200 ease-in-out motion-reduce:transition-none",
              "group-hover:rotate-180",
            ]}
          />
        </div>
      </button>
      <ul
        class:list={[
          "absolute hidden w-full",
          "group-hover:block group-hover:animate-fade group-hover:animate-duration-200",
        ]}
      >
        {
          locales
            .filter((locale) => locale.code !== currentLocale)
            .map((locale, index) => (
              <li>
                <Link
                  href={`/${locale.code}/${path}`}
                  class:list={[
                    "inline-flex h-16 w-full items-center justify-center bg-primary px-10 opacity-90",
                    "any-hover:opacity-100",
                  ]}
                  style={{
                    "clip-path":
                      index === 0
                        ? "polygon(0% 0%, 10% 100%, 99% 100%, 100% 0%);"
                        : "polygon(10% 0%, 5% 95%, 99% 100%, 99% 0%);",
                  }}
                >
                  {locale.name}
                </Link>
              </li>
            ))
        }
      </ul>
    </div>
  </div>
</nav>
