---
import LanguageSelector from "@/components/LanguageSelector.astro"
import MenuButton from "@/components/MenuButton.astro"
import Link from "@/components/ui/Link.astro"
import Separator from "@/components/ui/Separator.astro"
import { getI18N } from "@/i18n"
import Footer from "@/sections/Footer.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

type Props = {
  sticky?: boolean
}

const { sticky = false } = Astro.props

const links = [
  {
    label: i18n.SECTION.EXPERIENCE.SHORT_TITLE,
    href: `/${currentLocale}/#experience`,
  },
  {
    label: i18n.SECTION.PROJECTS.TITLE,
    href: `/${currentLocale}/#proyects`,
  },
  {
    label: i18n.SECTION.EDUCATION.TITLE,
    href: `/${currentLocale}/#education`,
  },
  {
    label: i18n.SECTION.ABOUT.TITLE,
    href: `/${currentLocale}/#about`,
  },
]
---

<header
  class:list={[
    "top-0 z-10",
    {
      sticky,
    },
  ]}
>
  {/* eslint-disable-next-line tailwindcss/no-custom-classname */}
  <div class="transition-scroll">
    <div class="relative mx-auto flex h-16 max-w-6xl items-center justify-end gap-4 px-4 md:px-14">
      <LanguageSelector class="absolute start-2 top-0 md:start-10" />
      <MenuButton aria-controls="menu" class="md:hidden" id="menu-trigger" state="closed" />
      <nav class="hidden md:block">
        <ul class="flex gap-4">
          {
            links.map((link) => (
              <li>
                <Link
                  class="typography-lg font-semibold leading-none"
                  href={link.href}
                  variant="underline"
                >
                  {link.label}
                </Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
  <div
    class:list={[
      "invisible fixed inset-0 overflow-y-auto px-2 opacity-0 scrollbar-hide md:hidden",
      "transition-[visibility,opacity] duration-300 ease-in-out motion-reduce:transition-none",
      "data-[state=open]:visible data-[state=open]:opacity-100",
    ]}
    data-state="closed"
    id="menu"
  >
    <div class="flex h-16 items-center justify-between px-2">
      <span class="typography-lg font-semibold uppercase">{i18n.MENU.TITLE}</span>
      <MenuButton aria-controls="menu" id="menu-close" state="open" />
    </div>
    <Separator />
    <nav>
      <ul class="flex flex-col gap-6 py-6" id="menu-anchors">
        {
          links.map((link) => (
            <li class="flex justify-center">
              <Link class="typography-lg font-semibold" href={link.href}>
                {link.label}
              </Link>
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
    <Footer />
  </div>
</header>

<style>
  .transition-scroll {
    animation: shadow linear both;
    animation-timeline: scroll();
    animation-range-end: 1%;
  }

  @keyframes shadow {
    to {
      @apply shadow-sm;
      background: var(--background-image);
    }
  }

  #menu {
    background: var(--background-image);
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuTrigger = document.getElementById("menu-trigger") as HTMLButtonElement
    const menuClose = document.getElementById("menu-close") as HTMLButtonElement
    const menu = document.getElementById("menu") as HTMLDivElement
    const menuAnchors = document.querySelectorAll("#menu-anchors a")
    const menuElements = Array.from(
      menu.querySelectorAll("button, a, input, textarea, select, details, [tabindex]") || [],
    )

    const handleToggleMenu = (state: "open" | "closed") => {
      menuTrigger.setAttribute("data-state", state)
      menuClose.setAttribute("data-state", state)
      menu.setAttribute("data-state", state)

      Array.from(
        document.querySelectorAll("button, a, input, textarea, select, details, [tabindex]"),
      )
        .filter((element) => !menuElements.includes(element))
        .forEach((element) => {
          if (element.getAttribute("tabindex") === null) {
            element.setAttribute("tabindex", "-1")
          } else {
            element.removeAttribute("tabindex")
          }
        })

      document.body.classList.toggle("overflow-hidden")
      document.body.classList.toggle("md:overflow-auto")
    }

    menuTrigger.addEventListener("click", () => {
      handleToggleMenu("open")
      setTimeout(() => menuClose.focus(), 100)
    })
    menuClose.addEventListener("click", () => {
      handleToggleMenu("closed")
      menuTrigger.focus()
    })
    menuAnchors.forEach((anchor) =>
      anchor.addEventListener("click", () => handleToggleMenu("closed")),
    )
  })
</script>
