---
import MenuButton from "@/components/MenuButton.astro"
import Separator from "@/components/Separator.astro"

import Code from "@/icons/Code.astro"

import Footer from "@/sections/Footer.astro"

const menu = [
  {
    name: "Experiencia",
    href: "/#experience",
  },
  {
    name: "Proyectos",
    href: "/#proyects",
  },
  {
    name: "Sobre mí",
    href: "/#about",
  },
  {
    name: "Contacto",
    href: "/#contact",
  },
]
---

<header>
  <div class="flex items-center justify-between py-4">
    <a href="/" class="inline-flex items-center gap-2 text-lg font-semibold">
      <Code class="size-8" />
      TheLokin
    </a>
    <MenuButton open={false} aria-controls="mobile-menu" class="md:hidden" />
    <nav class="hidden md:block">
      <ul class="flex gap-x-4">
        {
          menu.map(({ name, href }) => (
            <li>
              <a
                href={href}
                class:list={[
                  "before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-primary",
                  "before:transition-transform before:duration-300 before:ease-in-out motion-reduce:before:transition-none",
                  "before:any-hover:scale-x-100",
                  "relative text-lg font-semibold",
                ]}
              >
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div
    id="mobile-menu"
    data-state="closed"
    class:list={[
      "pointer-events-none invisible fixed inset-0 bg-secondary py-4 opacity-0 md:hidden",
      "transition-[visibility,opacity] duration-300 ease-in-out motion-reduce:transition-none",
      "data-open:pointer-events-auto data-open:visible data-open:opacity-100",
    ]}
  >
    <div class="flex items-center justify-between">
      <span class="text-xl font-semibold uppercase">Menú</span>
      <MenuButton open={true} aria-controls="mobile-menu" />
    </div>
    <Separator />
    <nav>
      <ul id="mobile-menu-anchors" class="flex flex-col gap-y-4">
        {
          menu.map(({ name, href }) => (
            <li class="flex justify-center">
              <a href={href} class:list={[
                  "before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-primary",
                  "before:transition-transform before:duration-300 before:ease-in-out motion-reduce:before:transition-none",
                  "before:any-hover:scale-x-100",
                  "relative text-lg font-semibold",
                ]}>
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
    <Footer />
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuButtons = document.getElementsByName("menu")
    const mobileMenu = document.getElementById("mobile-menu")
    const anchors = document.querySelectorAll("#mobile-menu-anchors a")

    const toggleMenu = () => {
      menuButtons.forEach((menuButton) => {
        menuButton.setAttribute(
          "data-state",
          menuButton.dataset.state === "open" ? "closed" : "open",
        )
      })

      mobileMenu?.setAttribute(
        "data-state",
        mobileMenu?.dataset.state === "open" ? "closed" : "open",
      )

      document.body.classList.toggle("overflow-hidden")
      document.body.classList.toggle("md:overflow-auto")
    }

    menuButtons.forEach((menuButton) => menuButton.addEventListener("click", toggleMenu))
    anchors.forEach((anchor) => anchor.addEventListener("click", toggleMenu))

    const adjustScrollbar = () => {
      const scrollbarWidth = window.innerWidth - document.body.clientWidth

      mobileMenu?.style.setProperty("padding-left", `${8 + scrollbarWidth}px`)
      mobileMenu?.style.setProperty("padding-right", `${8 + scrollbarWidth}px`)
    }

    adjustScrollbar()

    window.addEventListener("resize", adjustScrollbar, true)
  })
</script>
