---
import MenuButton from "@/components/MenuButton.astro"
import Separator from "@/components/Separator.astro"

import Code from "@/icons/Code.astro"

import Footer from "@/sections/Footer.astro"

const menu = [
  {
    name: "Experiencia",
    href: "/#experience",
  },
  {
    name: "Proyectos",
    href: "/#proyects",
  },
  {
    name: "Sobre mí",
    href: "/#about",
  },
  {
    name: "Contacto",
    href: "/#contact",
  },
]
---

<header>
  <div class="flex items-center justify-between py-4">
    <a href="/" class="inline-flex items-center gap-2 text-lg font-semibold">
      <Code class="size-8" />
      TheLokin
    </a>
    <MenuButton open={false} aria-controls="mobile-menu" class="md:hidden" />
    <nav class="hidden md:block">
      <ul class="flex gap-x-4">
        {
          menu.map(({ name, href }) => (
            <li>
              <a href={href} class="text-lg font-semibold">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div
    id="mobile-menu"
    data-state="closed"
    class:list={[
      "opac fixed inset-0 px-2 py-4 opacity-0 md:hidden",
      "duration-300 ease-out motion-safe:transition-opacity",
      "data-open:opacity-100",
    ]}
  >
    <div class="flex items-center justify-between">
      <span class="text-xl font-semibold uppercase">Menú</span>
      <MenuButton open={true} aria-controls="mobile-menu" />
    </div>
    <Separator />
    <nav>
      <ul class="flex flex-col gap-y-4">
        {
          menu.map(({ name, href }) => (
            <li class="flex justify-center">
              <a href={href} class="text-lg font-semibold">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
    <Footer />
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    document.addEventListener("menu:click", () => {
      const mobileMenu = document.getElementById("mobile-menu")

      mobileMenu?.setAttribute(
        "data-state",
        mobileMenu?.dataset.state === "open" ? "closed" : "open",
      )

      document.body.classList.toggle("overflow-hidden")
      document.body.classList.toggle("md:overflow-auto")
    })
  })
</script>

<style>
  #mobile-menu {
    background: var(--color-secondary) url("/images/concrete.avif");
    /*pointer-events: none;
    scrollbar-gutter: stable; */
  }

  /* #mobile-menu.open {
    pointer-events: all;
  } */

  a {
    @apply relative;
  }

  a::before {
    @apply absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 bg-primary transition-transform duration-200 ease-in-out content-[""] any-hover:scale-x-100;
  }
</style>
