---
import MenuButton from "@/components/MenuButton.astro"
import Separator from "@/components/Separator.astro"
import Code from "@/icons/Code.astro"
import Footer from "@/sections/Footer.astro"

const menu = [
  {
    name: "Experiencia",
    href: "/#experience",
  },
  {
    name: "Educación",
    href: "/#education",
  },
  {
    name: "Proyectos",
    href: "/#proyects",
  },
  {
    name: "Sobre mí",
    href: "/#about",
  },
]
---

<>
  <header class="sticky top-0 overflow-clip">
    <div class="flex items-center justify-between py-4">
      <a href="/" class="inline-flex items-center gap-2 text-lg font-semibold">
        <Code class="size-8" />
        TheLokin
      </a>
      <MenuButton open={false} aria-controls="menu-content" class="md:hidden" />
      <nav class="hidden md:block">
        <ul class="flex gap-4">
          {
            menu.map(({ name, href }) => (
              <li>
                <a
                  href={href}
                  class:list={[
                    "before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-primary",
                    "before:transition-transform before:duration-300 before:ease-in-out motion-reduce:before:transition-none",
                    "before:any-hover:scale-x-100",
                    "relative text-lg font-semibold",
                  ]}
                >
                  {name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </header>

  <div
    id="menu-content"
    data-state="closed"
    class:list={[
      "invisible fixed inset-0 z-50 bg-secondary py-4 opacity-0 md:hidden",
      "transition-[visibility,opacity] duration-300 ease-in-out motion-reduce:transition-none",
      "data-open:visible data-open:opacity-100",
    ]}
  >
    <div class="flex items-center justify-between">
      <span class="text-xl font-semibold uppercase">Menú</span>
      <MenuButton open={true} aria-controls="menu-content" />
    </div>
    <Separator />
    <nav>
      <ul id="menu-content-anchors" class="flex flex-col gap-4">
        {
          menu.map(({ name, href }) => (
            <li class="flex justify-center">
              <a href={href} class="text-lg font-semibold">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
    <Footer />
  </div>
</>

<style>
  header {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 50px;
  }

  @keyframes blur {
    to {
      /* box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px); */
      @apply bg-secondary shadow-lg backdrop-blur;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuButtons = document.getElementsByName("menu-button")
    const menuContent = document.getElementById("menu-content")
    const menuAnchors = document.querySelectorAll("#menu-content-anchors a")

    const toggleMenu = () => {
      menuButtons.forEach((menuButton) => {
        menuButton.setAttribute(
          "data-state",
          menuButton.dataset.state === "open" ? "closed" : "open",
        )
      })

      menuContent?.setAttribute(
        "data-state",
        menuContent.dataset.state === "open" ? "closed" : "open",
      )

      const accessibleElements = Array.from(
        menuContent?.querySelectorAll("button, a, input, textarea, select, details, [tabindex]") ||
          [],
      )

      Array.from(
        document.querySelectorAll("button, a, input, textarea, select, details, [tabindex]"),
      )
        .filter((element) => !accessibleElements.includes(element))
        .forEach((accessibleElement) => {
          if (accessibleElement.getAttribute("tabindex") === null) {
            accessibleElement.setAttribute("tabindex", "-1")
          } else {
            accessibleElement.removeAttribute("tabindex")
          }
        })

      document.body.classList.toggle("overflow-hidden")
      document.body.classList.toggle("md:overflow-auto")
    }

    menuButtons.forEach((menuButton) => menuButton.addEventListener("click", toggleMenu))
    menuAnchors.forEach((menuAnchor) => menuAnchor.addEventListener("click", toggleMenu))

    const adjustScrollbar = () => {
      menuContent?.style.setProperty(
        "padding-right",
        `${window.innerWidth - document.body.clientWidth}px`,
      )
    }

    adjustScrollbar()

    window.addEventListener("resize", adjustScrollbar, true)
  })
</script>
