---
import SectionContainer from "@/components/SectionContainer.astro"
import Badge from "@/components/ui/Badge.astro"
import Link from "@/components/ui/Link.astro"
import { getI18N } from "@/i18n"
import ArrowUpRight from "@/icons/phosphor/arrow-up-right.svg"
import GitHub from "@/icons/phosphor/github.svg"
import Package from "@/icons/phosphor/package.svg"
import AstroJS from "@/icons/simple/astro.svg"
import CloudflareWorkers from "@/icons/simple/cloudflare-workers.svg"
import Electron from "@/icons/simple/electron.svg"
import Firebase from "@/icons/simple/firebase.svg"
import Kotlin from "@/icons/simple/kotlin.svg"
import TailwindCSS from "@/icons/simple/tailwind.svg"
import { Image } from "astro:assets"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const TAG = {
  Astro: {
    name: "Astro",
    icon: AstroJS,
  },
  CloudflareWorkers: {
    name: "Cloudflare Workers",
    icon: CloudflareWorkers,
  },
  Electron: {
    name: "Electron",
    icon: Electron,
  },
  Firebase: {
    name: "Firebase",
    icon: Firebase,
  },
  Kotlin: {
    name: "Kotlin",
    icon: Kotlin,
  },
  TailwindCSS: {
    name: "Tailwind CSS",
    icon: TailwindCSS,
  },
}

const proyects = [
  {
    label: i18n.SECTION.PROJECTS.EXAMPLES[0].LABEL,
    title: "La Velada del Año IV",
    subtitle: i18n.SECTION.PROJECTS.EXAMPLES[0].SUBTITLE,
    description: i18n.SECTION.PROJECTS.EXAMPLES[0].DESCRIPTION,
    tags: [TAG.Astro, TAG.TailwindCSS],
    image: "/images/lavelada.avif",
    alt: i18n.SECTION.PROJECTS.EXAMPLES[0].IMAGE_ALT,
    github: "https://github.com/midudev/la-velada-web-oficial",
  },
  {
    label: i18n.SECTION.PROJECTS.EXAMPLES[1].LABEL,
    title: "Temzone",
    subtitle: i18n.SECTION.PROJECTS.EXAMPLES[1].SUBTITLE,
    description: i18n.SECTION.PROJECTS.EXAMPLES[1].DESCRIPTION,
    tags: [TAG.Kotlin, TAG.Electron, TAG.TailwindCSS, TAG.Firebase, TAG.CloudflareWorkers],
    image: "/images/temzone.avif",
    alt: i18n.SECTION.PROJECTS.EXAMPLES[1].IMAGE_ALT,
    github: "https://github.com/Temtem-Interactive-Map",
  },
]
---

<SectionContainer id="proyects">
  <Package slot="icon" />
  <Fragment slot="title">{i18n.SECTION.PROJECTS.TITLE}</Fragment>
  {
    proyects.map((proyect) => (
      <article class="grid grid-cols-7 gap-x-12 gap-y-4">
        <Link
          aria-label={proyect.label}
          href={proyect.github}
          class="col-span-7 lg:order-2 lg:col-span-4"
          rel="noopener noreferrer"
          target="_blank"
        >
          <div
            class:list={[
              "overflow-hidden rounded-2xl drop-shadow-xl",
              "outline outline-2 -outline-offset-1 outline-primary",
            ]}
          >
            <div class="pointer-events-none absolute bottom-4 right-4 z-10 rounded-full bg-secondary p-2">
              <ArrowUpRight aria-hidden="true" class="size-8 shrink-0 text-primary" />
            </div>
            <Image
              src={proyect.image}
              alt={proyect.alt}
              width={960}
              height={720}
              class:list={[
                "aspect-video object-cover",
                "transition-transform duration-500 motion-reduce:transition-none",
                "md:any-hover:scale-105",
              ]}
            />
          </div>
        </Link>
        <div class="col-span-7 mt-2 flex flex-col gap-4 lg:col-span-3">
          <div class="flex flex-col gap-2">
            <header>
              <div class="flex justify-between gap-2">
                <h3 class="typography-2xl flex gap-1 text-balance font-semibold tracking-wide">
                  {proyect.title}
                </h3>
                <Link
                  aria-label={proyect.label}
                  href={proyect.github}
                  class="mt-px size-6"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <GitHub class="size-6 shrink-0" />
                </Link>
              </div>
              <h4 class="typography-lg text-balance">{proyect.subtitle}</h4>
            </header>
            <ul class="flex flex-wrap gap-2">
              {proyect.tags.map((tag) => (
                <li>
                  <Badge>
                    <tag.icon />
                    {tag.name}
                  </Badge>
                </li>
              ))}
            </ul>
          </div>
          <p class="text-pretty">{proyect.description}</p>
        </div>
      </article>
    ))
  }
</SectionContainer>
