---
import Separator from "@/components/ui/Separator.astro"
import { getI18N } from "@/i18n"
import Footer from "@/sections/Footer.astro"
import Header from "@/sections/Header.astro"
import { ClientRouter } from "astro:transitions"

import "@fontsource-variable/sora"

const { currentLocale = "es" } = Astro
const i18n = getI18N({ currentLocale })

type Props = {
  title?: string
  description?: string
  noindex?: boolean
  nofollow?: boolean
}

const {
  title = i18n.SEO.TITLE,
  description = i18n.SEO.DESCRIPTION,
  noindex = false,
  nofollow = false,
} = Astro.props

const robots = `${noindex ? "noindex" : "index"}, ${nofollow ? "nofollow" : "follow"}`
const openGraph = {
  url: Astro.site?.origin,
  title: "TheLokin",
  description,
  image: {
    url: `${Astro.site?.origin}/${currentLocale}/og.png`,
    alt: i18n.SEO.IMAGE_ALT,
  },
  twitter: "@diegoramil98",
}
---

<!doctype html>
<html class="scroll-smooth motion-reduce:scroll-auto" dir="ltr" lang={currentLocale}>
  <head>
    {/* HTML Meta Tags */}
    <title>{`TheLokin - ${title}`}</title>
    <meta charset="utf-8" />
    <meta content={description} name="description" />
    <meta content="Diego Ramil López" name="author" />
    <meta content="#dddad2" name="theme-color" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href={openGraph.url} rel="canonical" />

    {/* Favicon Meta Tags */}
    <link href="/icons/android-icon-128x128.png" rel="icon" sizes="128x128" />
    <link href="/icons/android-icon-192x192.png" rel="icon" sizes="192x192" />
    <link href="/icons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" />
    <link href="/icons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="/icons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="/icons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="/icons/apple-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    {/* Search Engine Meta Tags */}
    <meta content={robots} name="robots" />
    <meta content={robots} name="googlebot" />
    <meta content={i18n.SEO.KEYWORDS} name="keywords" />

    {/* Open Graph Meta Tags */}
    <meta content="website" property="og:type" />
    <meta content={openGraph.url} property="og:url" />
    <meta content="es_ES" property="og:locale" />
    <meta content="gl_ES" property="og:locale:alternate" />
    <meta content="en_US" property="og:locale:alternate" />
    <meta content={openGraph.title} property="og:title" />
    <meta content={openGraph.description} property="og:description" />
    <meta content={openGraph.image.url} property="og:image" />
    <meta content={openGraph.image.alt} property="og:image:alt" />
    <meta content="image/png" property="og:image:type" />
    <meta content="1200" property="og:image:width" />
    <meta content="630" property="og:image:height" />

    {/* Twitter Meta Tags */}
    <meta content="summary_large_image" name="twitter:card" />
    <meta content={openGraph.twitter} name="twitter:site" />
    <meta content={openGraph.twitter} name="twitter:creator" />
    <meta content={openGraph.title} name="twitter:title" />
    <meta content={openGraph.description} name="twitter:description" />
    <meta content={openGraph.image.url} name="twitter:image" />
    <meta content={openGraph.image.alt} name="twitter:image:alt" />

    <ClientRouter />
  </head>

  <body
    class:list={[
      "overflow-x-hidden bg-secondary",
      "typography-base font-sora text-primary antialiased",
      "selection:bg-primary selection:text-secondary",
    ]}
  >
    <Header />
    <div class="mx-auto max-w-6xl px-2 md:px-10">
      <main class="flex flex-col gap-16 px-2 py-4 pb-16 md:px-4">
        <slot />
      </main>
      <Separator />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #333;
    --color-secondary: #dddad2;
    --color-tertiary: #183749;

    --background-image: var(--color-secondary) url("/images/grainy.webp");
  }

  body {
    background: var(--background-image);
  }

  & :focus-visible {
    @apply rounded-sm outline outline-2 outline-offset-2 outline-primary;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
    background: var(--background-image);
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-transparent bg-primary bg-clip-content;
  }
</style>

<script>
  import { Burst } from "@mojs/core"

  document.addEventListener("astro:page-load", () => {
    const burst = new Burst({
      left: 0,
      top: 0,
      radius: { 4: 19 },
      angle: 45,
      children: {
        shape: "line",
        radius: 3,
        scale: 1,
        stroke: "#333",
        strokeDasharray: "100%",
        strokeDashoffset: { "-100%": "100%" },
        duration: 700,
        easing: "quad.out",
      },
    })

    burst.el.style.zIndex = 100

    document.addEventListener("click", (event) => {
      burst.tune({ x: event.pageX, y: event.pageY }).replay()
    })
  })
</script>
